/* 기본세팅 */
html {
    line-height: 1.15;
    background: #F2F2F2;
}

body {
    background: #F2F2F2;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

body,
div,
p,
a {
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Cabin', sans-serif; */
}

div {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.in-bl {
    display: inline-block;
}

/* ////////////////////////////////////////// */
.content {
    width: 100vw;
}

/* ////////////////////////////////////////// */
.content-mood {
    width: 100vw;
    height: 70vh;
    background: #F2F2F2;
    display: flex;
    gap: 5px;
    position: relative;
    top: 0;
    float: left;
}

.content-mood div {
    height: 100%;
    flex: 2;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #3F7EA6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.7s;
}

.content-mood div:hover {
    flex: 4;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.content-mood div p {
    font-size: 17px;
    font-weight: 900;
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #F2F2F2;
    letter-spacing: .1em;
    margin: 0;
}

.content-mood span {
    font-size: 17px;
    display: block;
}

.content-mood div:hover p {
    min-width: 14em;
    transform: rotate(0);
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    margin-left: 20px;
}

/* ////////////////////////////////////////// */
.content-introduce {
    width: 100%;
    height: 22vh;
    position: relative;
    float: left;
}

.introduce-text {
    width: 50%;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.content-introduce h3 {
    width: 100%;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

/* ////////////////////////////////////////// */
.content-track {
    width: 100vw;
    height: 78vh;
    position: relative;
    float: left;
}

.main-track {
    height: 100%;
    transition: all 0.5s;

}

.main-title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: justify;
    /* padding-right: 20%; */
}

.main-track-title {
    width: 100%;
    color: #F2F2F2;
    letter-spacing: -0.2rem;
    cursor: pointer;
    transition: all 1s;
    padding: 0 10% 0 10%;
}

.main-track-title h1 {
    width: 100%;
    height: 100%;
    font-size: 80px;
    font-weight: 900;
    margin: 0;
    text-shadow: 2px 2px 12px #262626;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

/* ////////////////////////////////////////// */
.content-introduce2 {
    width: 100%;
    height: 22vh;
    position: relative;
    float: left;
}

.content-introduce2 h4 {
    width: 100%;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.introduce-text2 {
    width: 50%;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* ////////////////////////////////////////// */
.content-container {
    width: 100vw;
    /* height: 74vh; */
    /* margin-bottom: 20px; */
    padding: 0 30px 30px 30px;
    float: left;
}

.content-container h2 {
    font-weight: 900;
    /* margin-top: 20px; */
}

.content-container span {
    font-size: 9px;
    font-weight: 300;
    text-align: right;
}

.content-result {
    width: 100%;
    height: 100%;
    position: relative;
    /* display: flex; */
    /* overflow: scroll; */
    transition: all 1s;
}

.content-box {
    width: 20%;
    padding: 0 10px 10px 0;
    margin: 0;
    float: left;
    transition: transform 0.5s ease;
}

.content-box:hover {
    transform: scale(1.05, 1.05);
}

.content-box-card {
    width: 100%;
    /* border-radius: 5px; */
    /* padding: 0 0 10px 0; */
    /* border: #262626 solid 0.5px; */
    cursor: pointer;
}

.content-box-card-cover {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.content-box-card-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 부모 요소인 div의 크기만큼 */
    object-fit: cover;
    /* 비율 유지 + 중앙 맞추기 */
    background-position: center;
    background-size: cover;
}

.content-box-card-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 6px 10px 6px 10px;
    background-color: #f2f2f27f;
    z-index: 10;
}

.content-box-card-title h6,
p {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.content-box-card-title h6 {
    font-weight: 700;
}

.content-box-card-title p {
    font-size: 13px;
    font-weight: 300;
    color: #262626;
    margin: 0;
}




@media screen and (max-width : 1200px) {
    
    
    .content-mood div:hover {
        flex: 6;
    }
    


    .content-mood div:hover p {
        font-size: 25px;
    }
    .introduce-text {
        width: 80%;
    }

    .content-introduce h3 {
        font-size: 20px;
    }
    .main-track-title {
        padding: 0 5% 0 5%;
    }
    .main-track-title h1 {
        font-size: 60px;
    }
    .content-container {
        height: 100%;
    }
    .content-introduce2 {
        position: relative;
    }
    .content-introduce2 h4 {
        position: absolute;
        font-size: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .introduce-text2 {
        width: 80%;
        height: 40px;
    }
    .content-box {
        width: 33.33%;
    }
}

/* 모바일형태로 바꾸기 */
@media screen and (max-width : 767px) {
    .content-mood {

        height: 50vh;
 
    }
    .content-introduce {
        position: relative;
    }

    .introduce-text {
        height: 35px;

    }

    .content-introduce h3 {
        position: absolute;
        font-size: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .content-track {
        height: 320px;
    }
    .main-track-title {
        padding: 0 5% 0 5%;
    }
    .main-track-title h1 {
        font-size: 30px;
    }
    .content-introduce2 h4 {
        font-size: 13px;
    }
    .introduce-text2 {
        height: 70px;
    }

    .content-container {
        padding: 0;
    }
    .content-container h2 {
font-size: 18px;
    }
    .content-box {
        width: 50%;
    }
    .content-box-card-title h6 {
        font-size: 12px;
    }
    
    .content-box-card-title p {
        font-size: 9px;
    }
}