.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    color: #262626;
    z-index: 100;
    text-transform: uppercase;
    float: left;
}

.footer-content {
    width: 100%;
    margin: auto;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 9px;
}

.footer-content p {
    width: 20%;
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.footer-content span {
    color: #3F7EA6;
    font-weight: bold;
}

@media screen and (max-width : 1200px) {
    .footer-content {
        letter-spacing: 0.2em;
    }
}

/* 모바일형태로 바꾸기 */
@media screen and (max-width : 767px) {
    .footer {
        padding-bottom: 10px;
    }

    .footer-content {
        letter-spacing: 0.4em;
    }

    .footer-content p {
        width: 100%;
        display: block;
        padding: 2px;
    }
}