body, div, p {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

.bg {
  width: 100vw;
  height: 100vh;
  background: #F2F2F2;
  background: #3F7EA6;
  position: relative;
}

.content-left {
  width: 40%;
  height: 100%;
  float: left;
  color: #3F7EA6;
  position: relative;
}

.keyword-load {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.content-right {
  width: 60%;
  height: 100%;
  float: left;
  color: #F2F2F2;
  position: relative;
}

.main-card {
  width: 70%;
  height: 80%;
  border: none;
  background: #3F7EA6;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.main-card div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #3F7EA6;
  /* background-image: url({playlists[randomNum].images[0].url}); */
  /* border: 1px solid #F2F2F2; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-position : center;
  background-size : cover;
  background-repeat : no-repeat;
}

.main-card div:hover {
  flex: 4;
  background-position : center;
  background-size: contain;
  background-repeat : repeat;
  
}

.main-card div img {
  position: absolute; 
  top:0; 
  left: 0;
  width: 100%;
  background-position:center;
}

.main-card div img:hover {
  background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0) );
  
}

.main-card div p {
  font-weight: 500;
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #F2F2F2;
  letter-spacing: .1em;
}

.main-card div:hover p {
  transform: rotate(0);
  font-size: 50px;
  font-weight: 900;
}