/* 기본세팅 */
body, div, p {
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

div {
  box-sizing: border-box;
}

/* 로딩페이지 */
.loader {
  display: flex;
  align-items: center;
}

.bar {
display: inline-block;
width: 3px;
height: 20px;
background-color: #3F7EA6;
border-radius: 10px;
animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
height: 35px;
margin: 0 5px;
animation-delay: .25s;
}

.bar:nth-child(3) {
animation-delay: .5s;
}

@keyframes scale-up4 {
20% {
  background-color: #8399a7;
  transform: scaleY(1.5);
}

40% {
  transform: scaleY(1);
}
}

/* 메인페이지 */
.main-bg {
  width: 100vw;
  height: 100vh;
  background: #F2F2F2;
  /* background: #3F7EA6; */
  position: relative;
}

.main-content-left {
  width: 40%;
  height: 90%;
  float: left;
  color: #3F7EA6;
  position: relative;
}

/* 메인페이지 왼쪽 키워드 */
.main-keyword {
  width: 400px;
  height: 70%;
  color: #3F7EA6;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  /* overflow: auto; */
  text-align: justify;
}

.main-keyword-box {
  width: 400px;
  /* font-size: 12px; */
  margin: auto;
}

.main-keyword h1 {
  font-weight: 900;
}

.keyword-load {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

/* 메인페이지 로그인 폼 */
.form {
  display: inline-block;
    --width-of-input: 200px;
    --border-height: 0.5px;
    --border-before-color: #3F7EA6;
    --border-after-color: #F2F2F2;
    --input-hovered-color: #F2F2F2;
    position: relative;
    width: var(--width-of-input);
}
/* styling of Input */
.input {
 color: #3F7EA6;
 font-size: 1rem;
 background-color: transparent;
 width: 100%;
 box-sizing: border-box;
 /* padding: 0.5em; */
 padding-block: 0.8em;
 border: none;
 border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
 position: absolute;
 background: var(--border-after-color);
 width: 0%;
 height: 2px;
 bottom: 0;
 left: 0;
 transition: 0.3s;
}
/* Hover on Input */
input:hover {
 background: var(--input-hovered-color);
}

input:focus {
 outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
 width: 100%;
}
/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
  width: 100%;
} */

::placeholder {
    color: #3F7EA6;
    font-size: 12px;
}

.enter {
    height: 50px;
    width: 195px;
    border-radius: 5px;
    border: 0.5px solid #3F7EA6;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    color:#3F7EA6;
    letter-spacing: 2px;
    display: inline-block;
}
  
.enter:hover {
  background-color: #3F7EA6;
  color: #F2F2F2;
}

/* 메인페이지 오른쪽 카드 */
.main-content-right {
  width: 60%;
  height: 90%;
  float: left;
  color: #F2F2F2;
  position: relative;
}

.main-card {
  width: 80%;
  height: 60%;
  background: #F2F2F2;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.main-card div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #3F7EA6;
  /* background-image: url({playlists[randomNum].images[0].url}); */
  /* border: 1px solid #F2F2F2; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-position : center;
  background-size : cover;
  background-repeat : no-repeat;
}

.main-card div:hover {
  flex: 6;
  background-position : center;
  background-size: cover;
  background-repeat : repeat;
}

.main-card div img {
  position: absolute; 
  top:0; 
  left: 0;
  width: 100%;
  background-position:center;
}

/* .main-card div img:hover {
  background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0) );
} */

.main-card div p {
  font-weight: 900;
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #F2F2F2;
  letter-spacing: .1em;
}

.main-card div:hover p {
  transform: rotate(0);
  font-size: 30px;
  font-weight: 900;
  word-wrap: break-word;
}

/* 메인페이지 아래 */
.main-footer {
  width: 100%;
  height: 10%;
  float: left;
  color: #3F7EA6;
  position: relative;
}

.main-footer-content {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom:0; 
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  text-align: center;
}

.main-footer-content p {
  font-size: 12px;
  margin: auto;
}

/* 회원가입 모달 페이지 */
.join-bg {
  width: 100vw;
  height: 100vh;
  background: #F2F2F2, linear-gradient(#000000b3, #000000b3);
  position: relative;
}

.join-box {
  width: 30%;
  height: 50%;
  background: #F2F2F2;
  position: absolute;
  top: 0;
  bottom:0; 
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.join-box-content h1 {
  color: #3F7EA6;
  font-size: 30px;
  font-weight: 900;
}

.join-box-content p {
  color: #3F7EA6;
  font-size: 10px;
}