/* 기본세팅 */
html {
  line-height: 1.15;
  /*기본 행간 높이*/
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hidden {
  display: none;
}

body,
div,
p,
a {
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: 'Cabin', sans-serif; */
}

div {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.in-bl {
  display: inline-block;
}

/* 로딩페이지 */
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #3F7EA6;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #8399a7;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

/* 키워드로딩중 */
.keyword-load {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

/* 메인페이지 */
.main {
  width: 100vw;
  height: 100vh;
  background: #F2F2F2;
  /* background: #3F7EA6; */
  position: relative;
}

.main-content {
  width: 100%;
  height: 90%;
}

.main-bottom {
  width: 100%;
  height: 10%;
}

.main-content-left {
  width: 40%;
  height: 100%;
  float: left;
  color: #3F7EA6;
  position: relative;
}

/* 메인페이지 왼쪽 키워드 */
.main-keyword {
  width: 70%;
  height: 70%;
  color: #3F7EA6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: justify;
}

.main-keyword p {
  letter-spacing: .54em;
}

.main-keyword h1 {
  font-weight: 900;
}

/* form 로그인 폼 */
.form {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  --border-height: 0.5px;
  --border-before-color: #3F7EA6;
  --border-after-color: #F2F2F2;
  --input-hovered-color: #F2F2F2;
  position: relative;
}

.input {
  color: #3F7EA6;
  font-size: 12px;
  background-color: transparent;
  width: 100%;
  padding-block: 10px;
  border: none;
  border-bottom: 0.5px solid #3F7EA6;
}

.input-border {
  position: absolute;
  background: #F2F2F2;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.input:focus {
  outline: none;
}

.input:focus~.input-border {
  width: 100%;
}

::placeholder {
  color: #3F7EA6;
  font-size: 12px;
}

/* 버튼 */
.enter {
  padding-block: 15px;
  width: 49%;
  border-radius: 5px;
  border: 0.5px solid #3F7EA6;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 12px;
  color: #3F7EA6;
  letter-spacing: 2px;
  display: inline-block;
}

.enter-ml {
  margin-left: 2%;
}

.enter:hover {
  background-color: #3F7EA6;
  color: #F2F2F2;
}

/* 메인페이지 오른쪽 카드 */
.main-content-right {
  width: 60%;
  height: 100%;
  float: left;
  color: #F2F2F2;
  position: relative;
}

.main-card {
  width: 80%;
  height: 60%;
  background: #F2F2F2;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.main-card div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #3F7EA6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-card div:hover {
  flex: 6;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.main-card div p {
  font-size: 17px;
  font-weight: 900;
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #F2F2F2;
  letter-spacing: .1em;
  margin: 0;
}

.main-card span {
  font-size: 17px;
  display: block;
}

.main-card div:hover p {
  min-width: 14em;
  transform: rotate(0);
  font-size: 30px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/* Footer */
.footer {
  width: 100%;
  height: 100%;
  float: left;
  color: #3F7EA6;
  position: relative;
}

.footer-content {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  text-align: center;
}

.footer-content p {
  font-size: 12px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/* 회원가입 모달 페이지 */
.join {
  width: 100vw;
  height: 100vh;
}

.join-content {
  width: 100%;
  height: 90%;
  position: relative;
}

.join-bottom {
  width: 100%;
  height: 10%;
}

.join-box {
  width: 400px;
  height: 500px;
  background: #F2F2F2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.join-box-content h1 {
  color: #3F7EA6;
  font-size: 30px;
  font-weight: 900;
}

.join-box-content p {
  color: #3F7EA6;
  font-size: 10px;
}

/* 포스트,서치 페이지 */
.post {
  width: 100vw;
  height: 100vh;
  background: #F2F2F2;
}

.post-top {
  width: 100%;
  /* height: 10%; */
}

.post-top-nav {
  width: 25%;
  padding: 15px;
  color: #262626;
}

.post-top-nav div {
  width: 60px;
  margin-left: auto;
}

.post-top-nav div button {
  width: 100%;
}

.post-top-logo {
  width: 25%;
  padding: 15px;
  color: #262626;
  text-align: center;
}

.post-top-logo div {
  width: 70%;
  margin: auto;
}

.post-top-logo h4 {
  letter-spacing: 0.11rem;
  width: 100%;
  margin: 0;
  font-weight: 500;
  /* text-align: center; */
}

.post-top-logo p {
  letter-spacing: 0.35rem;
  width: 100%;
  margin: 0;
  /* text-align: center; */
  font-size: 9px;
}

.post-top-mood {
  width: 25%;
  color: #262626;
  /* text-align: center; */
  padding: 15px;
}

.post-top-mood div {
  width: 70%;
  margin-right: auto;
}

.post-top-mood p {
  margin: 0;
  font-size: 9px;
  letter-spacing: .5em;
  font-weight: 500;
  text-align: left;
}

.post-top-mood h4 {
  letter-spacing: 0.2rem;
  /* width: 100%; */
  margin: 0;
  font-weight: 500;
  text-align: left;
}

.post-main {
  width: 100%;
  height: 90%;
}

.post-side {
  width: 15%;
  height: 100%;
}

.post-content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.post-content h2 {
  color: #262626;
  height: 40px;
  margin-top: 20px;
  font-weight: 700;
}

/* 서치바 */
.search-form {
  width: 100%;
  height: 100%;
  /* float: left; */
  margin-top: 15px;
}

.search-form .form {
  width: 100%;
}

/* styling of Input */
.search-input {
  color: #F2F2F2;
  color: #262626;
  font-size: .9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  padding-block: .5em;
  border: none;
  border-bottom: 0.5px solid #F2F2F2;
  border-bottom: 0.5px solid #262626;
}

.search-input:focus {
  outline: none;
}

.search-form ::placeholder {
  color: #F2F2F2;
  color: #26262668;
  font-size: 12px;
}

.search-enter {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  color: #F2F2F2;
  color: #262626;
  letter-spacing: 2px;
  text-align: right;
}

/* 배너 컴포넌트 */
.buttons {
  margin-top: 55px;
}

.banner-btn {
  margin-bottom: 20px;
}

button {
  font-weight: bold;
  color: #F2F2F2;
  border-radius: 2rem;
  width: 80%;
  height: 50px;
  border: none;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

button .span-mother {
  display: flex;
  overflow: hidden;
}

button:hover .span-mother {
  position: absolute;
}

button:hover .span-mother span {
  transform: translateY(1.5em);
}

button .span-mother span:nth-child(1) {
  transition: .2s;
}

button .span-mother span:nth-child(2) {
  transition: .3s;
}

button .span-mother span:nth-child(3) {
  transition: .4s;
}

button .span-mother span:nth-child(4) {
  transition: .5s;
}

button .span-mother span:nth-child(5) {
  transition: .6s;
}

button .span-mother span:nth-child(6) {
  transition: .7s;
}

button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

button .span-mother2 span {
  transform: translateY(-1.5em);
}

button:hover .span-mother2 span {
  transform: translateY(0);
}

button .span-mother2 span {
  transition: .2s;
}

button .span-mother2 span:nth-child(2) {
  transition: .3s;
}

button .span-mother2 span:nth-child(3) {
  transition: .4s;
}

button .span-mother2 span:nth-child(4) {
  transition: .5s;
}

button .span-mother2 span:nth-child(5) {
  transition: .6s;
}

button .span-mother2 span:nth-child(6) {
  transition: .7s;
}

/* 
.buttons button {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  background-color: #F2F2F2;
  color: #F2F2F2;
  color: #262626;
  border: none;
  padding: 2%;
  border-radius: 20px;
}

.buttons button:hover {
  border: solid 0.5px #262626;
}

.buttons span {
  text-align: center;
  width: 20%;
}

.buttons p {
  width: 80%;
  margin: 0 0 0 10px;
  font-weight: 500;
  text-align: left;
} */

/* 포스트박스 */
.post-content-post-box {
  width: 500px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.post-box {
  width: 500px;
  height: 550px;
  margin-bottom: 30px;
}

.post-box-user {
  width: 500px;
  height: 50px;
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  /* margin-top: 30px; */
}

.post-box-user img {
  width: 40px;
  height: 40px;
  color: #F2F2F2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
}

.post-box-like {
  width: 40px;
  height: 40px;
  color: #262626;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* border-radius: 50%; */
}

.post-box-user-name {
  width: 420px;
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-left: 10px;
}

.post-box-user-name h6 {
  color: #262626;
  font-size: 14px;
  position: absolute;
  top: 0;
  margin: auto;
}

.post-box-user-name p {
  color: #262626;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.post-box-card {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(#00000000, #000000c2), url(../public/oh-um-logo.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 2px;
}

.post-box-card-title {
  width: 90%;
  font-size: 50px;
  position: absolute;
  font-weight: 500;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 30px 40px 40px;
  color: #F2F2F2;
}

.post-box-card-title p {
  margin: 0;
}

/* 검색결과박스 */
.search-result {
  width: 100%;
  position: relative;
}

.result-box {
  width: 20%;
  padding: 0 10px 10px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.result-box:hover {
  transform: translateY(0.33em);
}

.result-box:active {
  transform: translateY(0);
}

.result-box-card {
  width: 100%;
  /* border-radius: 5px; */
  /* padding: 0 0 10px 0; */
  border: #262626 solid 0.5px;

}

.result-box-card-cover {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
}

.result-box-card-cover img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  /* border-radius: 2px; */
}

.result-box-card-title {
  width: 100%;
  padding: 6px 10px 6px 10px;
}

.result-box-card-title h6,
p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.result-box-card-title h6 {
  font-weight: 700;
}

.result-box-card-title p {
  font-size: 13px;
  font-weight: 300;
  color: #262626;
  margin: 0;
}

.index {
  margin-bottom: 10px;
}

.index-content {
  width: 120px;
  height: 40px;
  margin: 0 30px 0 0;
  padding: 5px;
  border: solid #262626 1px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}

.check {
  background-color: #262626;
  color: #F2F2F2;
  /* font-weight: 900; */
}

.index-content:hover {
  transform: translateY(0.1em);
}

.index-content:active {
  transform: translateY(0);
}

/* 음악추천페이지 */
.AI-Track-container {
  width: 2000vw;
  transition: all 0.5s;
  /* transform: translateX(-100vw); */
}
  .AI-Track-box {
  position: relative;
  width: 100vw;
  float: left;
}

.main-track  {
  width: 100%;
  height: 700px;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  filter: brightness(50%);
  transition: all 1s;

  /* overflow-x: hidden; */
  /* position: relative; */
}

.main-track-icon {
  width: 20px;
  background-color: #f2f2f2b4;
  border-radius: 50px;
  padding: 10px;
  height: 20px;
  color: #F2F2F2;
  color: #262626;
  cursor: pointer;
}

.icon-left {
  position: absolute;
  left: 1%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.icon-right {
  position: absolute;
  right: 1%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main-track-title {
  width: 80%;
  color: #F2F2F2;
  letter-spacing: -0.2rem;
  cursor: pointer;
  transition: all 1s;
}

.main-track-title h1 {
  /* width: 700px; */
  height: 120px;
  font-size: 90px;
  margin: 0;
  text-shadow: 2px 2px 12px #262626;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.main-track-title h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 12px #262626;
}

.AI-Playlist-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.AI-Playlist-box {
  width: 300px;
  padding: 40px;
  text-align: center;
}

.AI-Playlist-box img {
  width: 100%;
  cursor: pointer;
}

.AI-Playlist-box img:hover {
  filter: brightness(50%);
  transition: all 0.5s;
}


@media screen and (max-width : 1200px) {

  /* 메인페이지 */
  .main-keyword h1 {
    font-size: 27px;
  }

  .main-keyword h5 {
    font-size: 15px;
  }

  .main-card {
    height: 50%;
  }

  .main-card div p {
    font-size: 15px;
  }

  .main-card span {
    font-size: 15px;
  }

  .main-card div:hover p {
    font-size: 23px;
  }

  .footer-content p {
    font-size: 10px;
  }

  .main-keyword p {
    font-size: 13px;
    letter-spacing: .3em;
  }

  /* 서치페이지 */
  .post-top-logo h4 {
    letter-spacing: 0.05rem;
    font-size: 17px;
  }

  .post-top-logo p {
    letter-spacing: 0.1rem;
  }

  .post-top-mood h4 {
    letter-spacing: 0.05rem;
    font-size: 15px;
  }

  .post-top-mood p {
    letter-spacing: 0.1rem;
  }

  .post-top-nav div {
    width: 50px;
  }

  .index-content {
    width: 100px;
    height: 35px;
    padding: 3px;
    font-size: 15px;
  }
}

/* 모바일형태로 바꾸기 */
@media screen and (max-width : 768px) {

  /* 메인페이지 */
  .main-content {
    display: block;
  }

  .main-content-left {
    width: 100%;
    height: 60%;
  }

  .main-content-right {
    width: 100%;
    height: 40%;
  }

  .main-keyword {
    width: 70%;
  }

  .main-card {
    width: 70%;
    height: 100%;
  }

  .main-card div p {
    font-size: 9px;
  }

  .main-card span {
    font-size: 9px;
  }

  .main-card div:hover p {
    font-size: 9px;
  }

  .footer {
    display: none;
  }

  /* 회원가입페이지 */
  .join-box {
    width: 300px;
    background: none;
  }

  /* 서치페이지 */
  .post-top {
    height: 10%;
  }

  .post-top-mood {
    display: none;
  }

  .post-top-logo {
    width: 100%;
  }

  .post-top-nav {
    position: fixed;
    top: 0;
    right: 0;
  }

  #offcanvasNavbar-expand-xxxl {
    width: 60%;
  }

  .offcanvas {
    background-color: #f2f2f278;
  }

  .search-form ::placeholder {
    font-size: 9px;
  }

  .post-top-logo div {
    width: 100%;
  }

  .post-top-nav div {
    width: 50px;
  }

  .offcanvas {
    background-color: #f2f2f278;
  }

  .post-main {
    height: 90%;
  }

  .post-side {
    display: none;
  }

  .post-content {
    width: 100%;
  }

  .result-box {
    width: 50%;
  }

  .index-content {
    width: 70px;
    height: 30px;
    padding: 5px;
    font-size: 0.7rem;
    margin: 0 20px 0 0;
  }

  .post-content h2 {
    font-size: 23px;
    height: 30px;
  }

}