div {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

.form {
  display: inline-block;
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: #F2F2F2;
    --border-after-color: #3F7EA6;
    --input-hovered-color: #3F7EA6;
    position: relative;
    width: var(--width-of-input);
}
/* styling of Input */
.input {
 color: #F2F2F2;
 font-size: 0.9rem;
 background-color: transparent;
 width: 100%;
 box-sizing: border-box;
 /* padding-inline: 0.5em; */
 padding-block: 0.8em;
 border: none;
 border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
 position: absolute;
 background: var(--border-after-color);
 width: 0%;
 height: 2px;
 bottom: 0;
 left: 0;
 transition: 0.3s;
}
/* Hover on Input */
input:hover {
 background: var(--input-hovered-color);
}

input:focus {
 outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
 width: 100%;
}
/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
  width: 100%;
} */

::placeholder {
    color: #f2f2f287;
    font-size: 12px;
}

.enter {
    height: 45px;
    width: 49%;
    border-radius: 5px;
    border: 0.5px solid #F2F2F2;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    color:#F2F2F2;
    letter-spacing: 2px;
    margin-bottom: 3em;
}
  
.enter:hover {
  background-color: #F2F2F2;
  color: #3F7EA6;
}

